.div{
    /* border: 2px solid red; */
    width: 450px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

input:focus {
    outline: none;
}

label{
    font-weight: 600;
    font-size: larger;
}

input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.form{
    border: 2px solid white;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


.submit {
    appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    padding: 8px 16px;
    text-align: center;
    margin: 10px;
}